# Data Science Tools and Ecosystem

In this notebook, we have summarized Data Science Tools and Ecosystem

**Objectives**
- Listing popular languages in Data Science
- Listing commonly used libraries in Data Science
- Listing Data Science tools
- Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries in Data Science are:
1. MatPlotLib
2. NumPy
3. Pandas
4. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

The below is a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

The following will comvert 200 minutes to hours by dividing by 60

In [2]:
200/60

3.3333333333333335

## Author
Rhea Lal